body{
    background-color: #a0c19a;
    font-family: 'Inter', sans-serif;
    margin: 0;
    /* CENTRADO */
    display: flex;
    flex-direction: column; /* Alinea (header y nav) uno abajo del otro */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    min-height: 100vh;  
}

header {
    text-align: center;
    margin-bottom: 30px; /* Espacio entre el título y botones */}

h1 {
    color: #000000;
    font-size: 3rem; 
    margin: 0;}

/* Subtítulo */
header p {
    color: #010102;
    font-size: 1.2rem;
    margin-top: 10px;}

/* BOTONES INICIO*/
/* Contenedor */
.menu-botones {
    display: flex;
    flex-direction: row; /* Cambiado de column a row para alineación horizontal */
    gap: 15px;
    justify-content: center; 
    flex-wrap: wrap;  /* Si no caben todos en una línea, saltan a la siguiente */
    align-items: center;
}

/* Diseño de cada boton */
.btn-menu {
    text-decoration: none; /* Quita el subrayado */
    background-color: #001F3D;
    color: white;
    padding: 15px 40px;
    width: 250px;  
    text-align: center;
    border-radius: 10px;  
    font-weight: bold;
    transition: 0.3s;     
}

.btn-menu:hover {
    background-color: #b5054e;
    transform: scale(1.05);
}

/*BOTÓN "Ver más" */
.btn-ver-mas {
    text-decoration: none;
    background-color: #001F3D;
    color: white;
    padding:6px 12px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.btn-ver-mas:hover {
    background-color: #b5054e;
}

.contenedor-grupos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

/* tabla detalles */
table {
    border-collapse: collapse;
    width: auto;
    min-width: 300px;
    background-color: white;
    margin-bottom: 30px;
}

th, td {
    padding: 12px 20px; /* darle "aire" a los cuadrados de la table */
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #001F3D;
    color: white;
}
