<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pagina de busqueda</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'diseño.css') }}">
    </head>
    <body>
        <header>
            <h1>Busqueda</h1>
        </header>

        <h2>Buscar jugadores</h2>
        <form>
            <input type = "text" name = "busqueda_jugador" placeholder="Gamertag o pais">
            <button type="submit">Buscar jugadores</button>
        </form>

        <h2>Buscar Equipos</h2>
        <form>
            <input type = "text" name = "busqueda_equipo" placeholder="Nombre del equipo">
            <button type="submit">Buscar equipos</button>
        </form>
    </body>
</html>
