<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Página de estadísticas de torneos 
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='diseno.css') }}">
    </head>
    <body>
        <header>
            <H1>Estadísticas del Torneo {{ nombre_torneo[0] }} </H1>
        </header>
        <br>
        <nav> 
            <a href="/torneo/{{ id_torneo }}" class="btn-ver-mas">Volver atrás</a>
        </nav>
        <article>
            <div>
                <h2> Ranking de jugadores </h2>

                {% for jugador in estadisticas %}
                    <li><strong>{{ loop.index }}. {{ jugador[0] }} del equipo {{ jugador[1] }} </strong></li>
                    <br>
                    <table border="3" bgcolor="7BB772">
                        <thead>
                            <tr>
                                <th>Total de KOs</th>
                                <th>Total de restarts</th>
                                <th>Total de assists</th>
                                <th>Ratio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ jugador[2] }}</td>
                                <td>{{ jugador[3] }}</td>
                                <td>{{ jugador[4] }}</td>
                                <td>{{ jugador[5] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                {% endfor %}

            </div>
            <div>
                <h2>Evolución por fase</h2>
                <form action="/estadisticas" method="get">
                    <input type="hidden" name="id_torneo" value="{{ id_torneo }}">
                    <label for = "id_equipo">Seleccione un equipo:</label>
                    <select name="id_equipo" id="id_equipo" required>
                        {% for equipo in equipos %}
                            <option value="{{ equipo[0] }}">
                                {{ equipo[1] }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit"> Seleccionar</button>
                </form>

                {% if evolucion %}
                {% for fila in evolucion %}
                <h3>Rendimiento del jugador: {{ fila[0] }} </h3>
                <table border="3" bgcolor="white">
                    <tr>
                        <th colspan="3">Fases de grupos</th>
                        <th colspan="3">Fases eliminatorias</th>    
                    </tr>
                    <tbody>
                        <tr>
                            <td>KOs</td>
                            <td>Restarts</td>
                            <td>Assists</td>
                            <td>KOs</td>
                            <td>Restarts</td>
                            <td>Assists</td>
                        </tr>
                        <tr>
                            <td>{{ fila[1] }}</td>
                            <td>{{ fila[2] }}</td>
                            <td>{{ fila[3] }}</td>
                            <td>{{ fila[4] }}</td>
                            <td>{{ fila[5] }}</td>
                            <td>{{ fila[6] }}</td>
                        </tr>
                    
                    </tbody>
                </table>
                    {% endfor %}
                    {% endif %}
            </div>
            
        </article>
    </body>
</html>