<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Formulario de Inscripcion</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='diseño.css')}}">
    </head>
    <body>
        <header>
            <h1>Inscripcion a Torneos</h1>
        </header>

        <form>
            <label for = "torneo">Torneo:</label>
            <select name="torneo" id="torneo">
                <option value="">Seleccione un torneo</option>
            </select>

            <label for = "equipo">Equipo:</label>
            <select name="equipo" id="equipo">
                <option value="">Seleccione un equipo</option>
            </select>

            <button type="submit">Inscribir Equipo</button>
        </form>
    </body>
</html>