<!doctype html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Pagina de sponsors</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='diseño.css')}}">
    </head>
    <body>
        <header>
            <h1>Sponsors</h1>
        </header>

        <h2>Buscar sponsors por videojuego</h2>
        <form>
            <input type = "text" name = "videojuego" placeholder="Videojuego">
            <button type="submit">Buscar sponsors</button>
        </form>
    </body>
</html>